/* ********** Desktop and Website Styling ********** */

/* Hero Styling */
header {
    position: static;
    padding-left: 100px;
    padding-top: 30px;
}

div#heading-text {
    font-size: 30px !important;
    font-family: Poppins, Arial, sans-serif;
    padding: 0;
}

p#ux {
    margin-bottom: 50px;
    font-weight: 300;
}

div#hero-image {
    padding-left: 100px;
}

img#arch {
    max-width: 700px;
    height: auto;
    vertical-align: bottom;
}

/* Body Content Styling */
div#container {
    background-color: #FFFFFF;
    padding: 30px 100px;
    line-height: 180%;
}

h2 {
    font-family: 'Tenor Sans', Arial, sans-serif;
    font-size: 24px;
    color: #444440;
}

div.container {
    margin: 30px 0;
}

img#redesign {
    width: 400px;
    height: auto;
    margin: 0 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img#estudio {
    width: 300px;
    height: auto;
    margin: 0 20px;
}

iframe {
    margin: 50px auto;
    display: block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* **********Tablet Styling ********** */

@media screen and (min-width: 601px) and (max-width: 1000px) {

    /* Hero Styling */
    header {
        position: static;
        padding-left: 60px;
    }
    
    div#heading-text {
        font-size: 22px !important;
        padding-right: 0;
    }
    
    p#my-style {
        margin-bottom: 20px;
    }
    
    a#work-btn {
        width: 180px;
        padding: 15px 20px;
    }
    
    a#resume-btn {
        width: 130px;
        height: auto;
        padding: 10px 20px;
        margin-left: 5px;
    }
    
    div#hero-image {
        padding-left: 20px;
        vertical-align: bottom;
    }
    
    img#arch {
        max-width: 350px;
    }
    
    /* Body Content Styling */
    div#container {
        padding: 20px 60px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    div.container {
        margin: 20px 0;
    }

    img#redesign {
        width: 300px;
        margin: 0 20px;
    }

    img#estudio {
        width: 200px;
    }
}

/* **********Mobile Styling ********** */

@media screen and (max-width: 600px) {

    /* Header Styles */

    header {
        position: relative;
        padding: 0;
    }

    div#heading-text {
        font-size: 20px !important;
        padding: 0;
        padding: 0 30px;
    }

    p#ux {
        margin-bottom: 30px;
    }

    div#hero-image {
        padding: 30px 0 0 0;
        z-index: 90;
    }
    
    img#arch {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }

    /* Body Styles */
    div#container {
        padding: 20px 30px;
    }

    h2 {
        font-size: 20px;
    }

    img#redesign {
        max-width: 100%;
        margin: 20px auto;
        display: block;
    }

    img#estudio {
        width: 200px;
        margin: 0 auto;
        display: block;
    }

    iframe {
        max-width: 100%;
        height: auto;
    }
}
