/* ********** Desktop and Website Styling ********** */

/* Hero Styling */
header {
    position: static;
    padding-left: 100px;
}

div#heading-text {
    font-size: 30px !important;
    font-family: Poppins, Arial, sans-serif;
    padding: 0;
}

p#my-style {
    margin-bottom: 50px;
    font-weight: 300;
}

a#work-btn {
    background-color: #004AAD;
    font-size: 18px;
    text-decoration: none;
    width: 200px;
    height: auto;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    transition: .3s ease;
}

a#work-btn:hover {
    background-color: #07336d;
    transition: .3s ease;
}

a#resume-btn {
    font-size: 18px;
    text-decoration: none;
    width: 150px;
    height: auto;
    padding: 10px 30px;
    text-align: center;
    border: 5px solid #FFFFFF;
    margin-left: 20px;
    display: inline-block;
    transition: .3s ease;
}

a#resume-btn:hover {
    background-color: #FFFFFF;
    color: #444440;
    transition: .3s ease;
}

div#hero-image {
    padding-left: 120px;
}

img#sunflower {
    max-width: 500px;
    height: auto;
}

/* Body Content Styling */
div#container {
    background-color: #FFFFFF;
    padding: 30px 100px;
}

h2 {
    font-family: 'Tenor Sans', Arial, sans-serif;
    font-size: 24px;
    color: #444440;
}

div.container {
    margin: 30px 0;
}

section#summary-icons {
    margin: 20px auto 70px auto;
    display: block;
    text-align: center;
}

div.icon-col {
    width: 400px;
    padding: 0 30px;
}

section#summary-icons p {
    margin: 0;
    font-size: 18px;
    font-family: Poppins, Arial, sans-serif;
}

section#summary-icons i {
    font-size: 72px;
    color: #444440;
    margin-bottom: 30px;
}

p.arrow-link {
    padding-top: 20px;
}

p.arrow-link a {
    text-decoration: none;
}

p.arrow-link a:hover {
    color: #929292;
}

p.line-height-180 {
    line-height: 180%;
}

p.margin-0 {
    margin: 0 !important;
}

p.scd-row {
    display: inline-block;
    vertical-align: top;
    padding-left: 70px;
}

div.mleft-30 {
    margin-left: 30px;
}

div.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 393px;
    height: auto;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
    transition: 0.3s;
}

div.card a {
    text-decoration: none;
}

img.card-image {
    width: 100%;
    height: auto;
}

div.card-container h3 {
    font-family: Poppins, Arial, sans-serif;
    font-size: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    padding: 2px 16px;
}

img#img-professional {
    width: 270px;
    height: auto;
}

a#resume-btn-full {
    display: block;
    margin: 20px 10px 10px 0;
    background-color: #004AAD;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 90px;
    text-align: center;
    width: 270px;
    height: auto;
}

a#resume-btn-full:hover {
    background-color: #07336d;
    transition: .3s ease;
}

div#quote-container {
    padding: 10px 20px 10px 10px;
    width: 70%;
    margin: 30px auto;
    display: block;
}

i#left-quote {
    float: left;
    color: #444440;
    font-size: 24px;
}

div#quote-container p {
    padding-left: 40px;
    line-height: 200%;
}

section#contact p {
    line-height: 200%;
}

/* protects my contact information */
span.rev {
    unicode-bidi:bidi-override;
    direction:rtl;
}

span.rev.email a:before {
    content:"ude.eudrup";
}

span.rev.email a:after {
    content:"detsmloh";
}

span.rev.phone a:before {
    content:"6006-055-";
}

span.email a:hover {
    color: #929292;
}

span.phone a:hover {
    color: #929292;
}

section#contact i {
    font-size: 50px;
    color: #444440;
}

section#contact i:hover {
    color: #929292;
}

/* **********Tablet Styling ********** */

@media screen and (min-width: 601px) and (max-width: 1000px) {

    /* Hero Styling */
    header {
        position: static;
        padding-left: 60px;
    }
    
    div#heading-text {
        font-size: 22px !important;
        padding-right: 0;
    }
    
    p#my-style {
        margin-bottom: 20px;
    }
    
    a#work-btn {
        width: 180px;
        padding: 15px 20px;
    }
    
    a#resume-btn {
        width: 130px;
        height: auto;
        padding: 10px 20px;
        margin-left: 5px;
    }
    
    div#hero-image {
        padding-left: 50px;
    }
    
    img#sunflower {
        max-width: 320px;
    }
    
    /* Body Content Styling */
    div#container {
        padding: 20px 60px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    div.container {
        margin: 20px 0;
    }

    section#summary-icons {
        margin: 0 auto;
        display: block;
        text-align: left !important;
    }

    div.icon-col {
        width: 200px;
        padding: 0 20px;
        text-align: left !important;
    }
    
    section#summary-icons p {
        margin: 0;
        text-align: left !important;
    }
    
    section#summary-icons i {
        font-size: 48px;
        margin-bottom: 20px;
    }

    div#tools-col {
        padding-left: 30px;
    }
    
    p.scd-row {
        padding-left: 0;
    }
    
    div.mleft-30 {
        margin-left: 30px;
    }
    
    div.card {
        width: 280px;
    }
    
    div.card-container h3 {
        font-size: 18px;
    }

    .card-container {
        padding: 0 7px;
    }

    div#cultures {
        margin-left: 0 !important;
    }
    
    img#img-professional {
        width: 200px;
    }

    div#about-text {
        padding-left: 60px;
    }
    
    a#resume-btn-full {
        margin: 20px 0 10px 0;
        padding: 15px 20px;
        width: 200px;
    }

    section#about p {
        line-height: 150%;
    }
    
    div#quote-container {
        width: 100%;
    }
    
    i#left-quote {
        font-size: 22px;
    }

    div.col-spacing {
        width: 200px !important;
    }
}

/* **********Mobile Styling ********** */

@media screen and (max-width: 600px) {

    /* Header Styles */

    header {
        position: relative;
        padding: 0;
    }

    div#heading-text {
        font-size: 20px !important;
        padding: 0;
        padding: 0 30px;
    }

    p#my-style {
        margin-bottom: 30px;
    }

    div#hero-image {
        padding: 30px 0 0 0;
        z-index: 90;
    }
    
    img#sunflower {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }

    .center {
        display: block;
        margin: auto;
        text-align: center;
    }

    a#work-btn {
        font-size: 16px;
        width: 170px;
        padding: 15px 5px;
    }

    a#resume-btn {
        font-size: 16px;
        width: 120px;
        padding: 12px 5px;
        border: 3px solid #FFFFFF;
        margin-left: 5px;
    }

    /* Body Styles */
    div#container {
        padding: 20px 30px;
    }

    h2 {
        font-size: 20px;
    }    

    section#summary-icons {
        margin: 20px 0;
        text-align: center;
    }
    
    section#summary-icons p {
        margin: 5px 30px 5px 30px;
        text-align: center;
        font-size: 18px;
    }
    
    section#summary-icons i {
        font-size: 48px;
        margin: 10px 0;
    }

    p.scd-row {
        display: block;
        padding: 20px 0 0 0 !important;
    }

    div.mleft-30 {
        margin-left: 0;
    }

    
    p.arrow-link {
        padding-bottom: 30px;
    }

    div.card {
        width: 100%;
    }
    
    img.card-image {
        width: 100%;
        height: auto;
    }
    
    div.card-container h3 {
        font-size: 18px;
    }

    blockquote#quote {
        margin: 0;
    }
  
    div#quote-container {
        padding: 0;
        width: 100%;
        height: auto;
        margin: 0;
        display: block;
    }

    i#left-quote {
        font-size: 20px;
    }

    section#about p {
        line-height: 150%;
    }

    div#quote-container p {
        padding-left: 35px;
        line-height: 200%;
    }

    div#quote-container {
        width: 100%;
        margin: 20px auto;
        display: block;
    }
    
    i#left-quote {
        font-size: 22px;
    }

    img#img-professional-mobile {
        width: 200px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    a#resume-btn-full-mobile {
        display: block;
        background-color: #004AAD;
        color: #FFFFFF;
        text-decoration: none;
        padding: 15px 30px;
        text-align: center;
        width: 230px;
        height: auto;
        margin: 20px auto;
    }
    
    a#resume-btn-full-mobile:hover {
        background-color: #07336d;
        transition: .3s ease;
    }

    section#contact i {
        font-size: 64px;
        text-align: center;
    }

    div#socials {
        text-align: center;
    }
}
