/* ********** Desktop and Website Styling ********** */

/* Hero Styling */
header {
    position: static;
    padding-left: 100px;
}

div#heading-text {
    font-size: 30px !important;
    font-family: Poppins, Arial, sans-serif;
    padding: 0;
}

p#responsive {
    margin-bottom: 50px;
    font-weight: 300;
}

div#hero-image {
    padding-left: 100px;
}

img#phones {
    max-width: 500px;
    height: auto;
}

/* Body Content Styling */
div#container {
    background-color: #FFFFFF;
    padding: 30px 100px;
    line-height: 180%;
}

h2 {
    font-family: 'Tenor Sans', Arial, sans-serif;
    font-size: 24px;
    color: #444440;
}

h3 {
    font-family: Poppins, Arial, sans-serif;
    font-size: 18px;
}

div.container {
    margin: 30px 0;
}

img#LT-logo {
    width: 250px;
    height: auto;
    margin-bottom: 30px;
}

.tab {
    overflow: hidden;
    background-color: #EBEBEB;
    border-bottom: 1px solid #C4C4C4;
    font-size: 18px;
}
  
.tab button {
    float: left;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 40px;
    transition: 0.3s;
}
  
.tab button:hover {
    background-color: #DDDDDD;
}
  
.tab button.activeTab {
    background-color: #CCCCCC;
}
  
.tabcontent {
    display: none;
    padding: 15px 0;
    border-top: none;
    animation: fadeEffect .3s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  div#quote-container {
    padding: 10px 20px 10px 10px;
    width: 70%;
    margin: 30px auto;
    display: block;
}

i#left-quote {
    float: left;
    color: #444440;
    font-size: 24px;
}

div#quote-container p {
    padding-left: 40px;
    line-height: 200%;
}

section#contact p {
    line-height: 200%;
}

div#images {
    text-align: center;
}

img#desktop, img#darkmode {
    width: 250px;
    height: auto;
}

img#mobile {
    width: 210px;
    height: auto;
}

section#links {
    margin-bottom: 60px;
}

div#Projects h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #444440;
    letter-spacing: 2.5%;
}

div#Projects h3 a {
    text-decoration: none;
}

div#Projects h3 a:hover {
    color: #929292;
    transition: .3s ease;
}

img#eg-template {
    width: 50%;
    height: auto;
    margin: 20px auto;
    display: block;
}

h4 {
    color: #444440;
    font-size: 18px;
    font-family: Poppins, Arial, sans-serif;
    letter-spacing: 1.2%;
}

div#Accomplishments p {
    line-height: 180%;
}

.scd-row {
    padding-left: 30px;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.margin-0 {
    margin: 0 !important;
}

.indent {
    list-style-type: none;
}

.accordion {
    content: 'Read More...';
    background-color: #eee;
    color: #444440;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.3s ease;
}
  
.activeAcc, .accordion:hover {
    background-color: #CCCCCC;
}
  
.panel {
    padding: 0 30px;
    background-color: #FFFFFF;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion:after {
    content: '\002B';
    color: #444440;
    font-weight: bold;
    font-size: 20px;
    float: right;
    margin-left: 5px;
}
  
.activeAcc:after {
    content: "\2212";
}

/* **********Tablet Styling ********** */

@media screen and (min-width: 601px) and (max-width: 1000px) {

    /* Hero Styling */
    header {
        position: static;
        padding-left: 60px;
    }
    
    div#heading-text {
        font-size: 22px !important;
        padding-right: 0;
    }
    
    p#responsive {
        margin-bottom: 20px;
    }
    
    div#hero-image {
        padding-left: 10px;
    }
    
    img#phones {
        max-width: 300px;
        height: auto;
    }
    
    /* Body Content Styling */
    div#container {
        padding: 20px 60px;
    }
    
    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }
    
    div.container {
        margin: 20px 0;
    }

    img#LT-logo {
        width: 150px;
        margin-bottom: 0;
    }
      
    .tab button {
        padding: 10px 20px;
    }

    section#about p {
        line-height: 150%;
    }
    
    div#quote-container {
        width: 100%;
    }
    
    i#left-quote {
        font-size: 22px;
    }

    img#desktop, img#darkmode {
        width: 200px;
    }
    
    img#mobile {
        width: 160px;
    }

    section#links {
        margin-bottom: 50px;
    }
    
    img#eg-template {
        width: 100%;
    }
    
    .scd-row {
        padding-left: 0;
    }
    
    .inline {
        display: block;
    }
    
    .accordion {
        padding: 14px;
    }
      
    .panel {
        padding: 0 20px;
    }
    
    .accordion:after {
        margin-right: 20px;
    }
}

/* **********Mobile Styling ********** */

@media screen and (max-width: 600px) {

    /* Header Styles */

    header {
        position: relative;
        padding: 0;
    }

    div#heading-text {
        font-size: 20px !important;
        padding: 0;
        padding: 0 30px;
    }

    p#responsive {
        margin-bottom: 30px;
    }

    div#hero-image {
        padding: 30px 0 0 0;
    }
    
    img#phones {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }

    /* Body Styles */
    div#container {
        padding: 20px 30px;
    }

    h2 {
        font-size: 20px;
    }
      
    .tab button {
        border-bottom: 1px solid #C4C4C4;
        width: 100%;
        cursor: pointer;
        padding: 15px 40px;
        transition: 0.3s;
    }

    i.margin-left-10 {
        margin-left: 10px;
    }
      
    .tab button:hover {
        background-color: #ddd;
    }
      
    .tab button.active {
        background-color: #ccc;
    }
      
    .tabcontent {
        padding: 15px 0;
        border-top: none;
        animation: fadeEffect .3s;
    }

    blockquote#quote {
        margin: 0;
    }

    div#quote-container p {
        padding-left: 35px;
        line-height: 200%;
    }

    div#quote-container {
        width: 100%;
        margin: 20px auto;
        display: block;
    }
    
    i#left-quote {
        font-size: 22px;
    }

    .panel {
        padding: 0 12px;
    }
    
    .scd-row {
        padding: 0;
    }

    .inline {
        display: block;
    }

    .indent {
        line-height: 250%;        
    }

    img#eg-template {
        width: 100%;
        height: auto;
        margin: 20px 0;
        display: block;
    }
}
