/* Desktop and Website Styling */

html {
	scroll-behavior: smooth;
}

body {
    color: #696969;
    font-family: Raleway, Arial, sans-serif;
    font-size: 16px;
}

div#top {
    background-color: #000000;
    color: #FFFFFF;
    padding: 30px 100px;
}

/* top nav styling */

div#top-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #000000;
    
}

a#nav-head {
    font-family: 'Tenor Sans', Arial, sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    text-decoration: none;
}

a#nav-head:hover {
    color: #929292;
}

div.nav-links ul li {
    list-style-type: none;
}

div.nav-links ul li a {
    font-family: Poppins, Arial, sans-serif;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    width: 100px !important;
    height: auto !important;
}

div.nav-links ul li a:hover {
    color: #929292;
}
  
.active a {
    background-color: #e4e4e4;
    transition: .5s background-color;
}

h2 {
    font-family: Poppins, Arial, sans-serif
}

h3 {
    font-family: 'Tenor Sans', Arial, sans-serif;
}

/* body styling */

div#body-container {
    margin: 30px 100px;
}

img#sunflower {
    width: 470px;
    height: auto;
    float: right;
    padding: 0 !important;
    margin: 0 !important;
}

div.box-container {
    position: relative;
    width: 400px;
    margin: 20px 20px 20px 0;
}

img.work-box {
    width: 100%;
    height: auto;
    display: block;
}

div.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #004aad;
}
  
div.box-container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: 1px solid #FFFFFF;
    padding: 10px 14px;
}

img#headshot {
    width: 200px;
    height: auto;
    float: left;
    margin: 20px 40px 30px 0;
}

div#contacts {
    margin-top: 30px;
}

button#resume {
    width: 150px;
    transition: .5s background-color;
}

button#resume:hover {
    background-color: #e4e4e4;
    transition: .5s background-color;
}

div#contacts a {
    text-decoration: none;
}

span.rev {
    unicode-bidi:bidi-override;
    direction:rtl;
}

span.rev.email a:before {
    content:"ude.eudrup";
}

span.rev.email a:after {
    content:"detsmloh";
}

span.rev.phone a:before {
    content:"6006-055-";
}

span.email a:hover {
    color: #929292;
}

span.phone a:hover {
    color: #929292;
}

.fa {
    padding: 10px;
    font-size: 25px;
    width: 50px;
    height: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 5px 0 0;
  }
  
.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-github {
    background-color: #191717;
    color: white;
}

img.sketchfab {
    background-color: #1FAAD8;
    color: white;
    height: 45px;
    width: 50px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

i.quote {
    font-size: 20px;
}

.w3-leftbar {
    border-left: 8px solid #004aad !important;
}

a#btTop {
    float: right;
    padding-top: 10px;
    text-decoration: underline;
}

a#btTop:hover {
    color: #929292;
}

img#logo {
    width: 80px;
    padding: 5px;
    font-size: 18px;
}

img#logo:hover {
    opacity: 0.7;
}

/* Disable smooth scrolling when users have prefers-reduced-motion enabled */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* Mobile Styling */

@media screen and (max-width: 600px) {
    div#wrapper {
        margin-left: 0px;
        margin-right: 0px;
    }

    a#nav-head {
        font-size: 30px !important;
        padding-bottom: 20px !important;
    }

    a#icon {
        font-size: 24px;
        color: #444440;
        text-align: center;
        margin: 0;
        padding: 7px 12px;
        transition: .5s background-color;
        display: inline-block;
    }

    div#mobile a {
        display: inline-block;
        color: #444440;
        text-decoration: none;
        font-size: 16px;
        text-align: center;
        padding: 12px 0;
    }

    div#mobile a:hover {
        background-color: #E2E2E2;
    }

    div#heading-text h2 {
        font-size: 24px;
        margin-top: 30px;
    }

    img#img-sunflower {
        margin: auto;
        display: block;
        padding: 10px;
        width: 400px;
        height: auto;
    }

    h3 {
        text-align: center;
    }

    div#socials {
        display: inline-block;
        margin: 20px auto;
        text-align: center;
        width: 100%;
    }

    .fa {
        width: 63px;
        height: auto;
        font-size: 35px;
    }

    img.sketchfab {
        width: 63px;
        height: 58px;
    }

}