/* ********** Desktop and Website Styling ********** */

/* Hero Styling */
header {
    position: static;
    padding-left: 100px;
}

div#heading-text {
    font-size: 30px !important;
    font-family: Poppins, Arial, sans-serif;
    padding: 0;
}

p#responsive {
    margin-bottom: 50px;
    font-weight: 300;
}

div#hero-image {
    padding-left: 100px;
}

img#screens {
    max-width: 700px;
    height: auto;
}

/* Body Content Styling */
div#container {
    background-color: #FFFFFF;
    padding: 30px 100px;
    line-height: 180%;
}

h2 {
    font-family: 'Tenor Sans', Arial, sans-serif;
    font-size: 24px;
    color: #444440;
}

div.container {
    margin: 30px 0;
}

img#PU-logo {
    width: 250px;
    height: auto;
    margin-bottom: 30px;
}

.tab {
    overflow: hidden;
    background-color: #EBEBEB;
    border-bottom: 1px solid #C4C4C4;
    font-size: 18px;
}
  
.tab button {
    float: left;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 40px;
    transition: 0.3s;
}
  
.tab button:hover {
    background-color: #ddd;
}
  
.tab button.active {
    background-color: #ccc;
}
  
.tabcontent {
    display: none;
    padding: 15px 0;
    border-top: none;
    animation: fadeEffect .3s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

div#images {
    margin: auto;
    text-align: center;
}

img#desktop, img#darkmode, img#mobile {
    display: inline-block;
}

img#desktop, img#darkmode {
    width: 250px;
    height: auto;
}

img#mobile {
    width: 210px;
    height: auto;
}

section#links {
    margin-bottom: 60px;
}

div#Projects h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #444440;
    letter-spacing: 2.5%;
}

div#Projects h3 a {
    text-decoration: none;
}

div#Projects h3 a:hover {
    color: #929292;
    transition: .3s ease;
}

img#eg-template {
    width: 300px;
    height: auto;
    margin: 20px auto;
    display: block;
}

h4 {
    color: #444440;
    font-size: 18px;
    font-family: Poppins, Arial, sans-serif;
    letter-spacing: 1.2%;
}

div#Accomplishments p {
    line-height: 180%;
}

/* **********Tablet Styling ********** */

@media screen and (min-width: 601px) and (max-width: 1000px) {

    /* Hero Styling */
    header {
        position: static;
        padding-left: 60px;
    }
    
    div#heading-text {
        font-size: 22px !important;
        padding-right: 0;
    }
    
    p#my-style {
        margin-bottom: 20px;
    }
    
    a#work-btn {
        width: 180px;
        padding: 15px 20px;
    }
    
    a#resume-btn {
        width: 130px;
        height: auto;
        padding: 10px 20px;
        margin-left: 5px;
    }
    
    div#hero-image {
        padding-left: 50px;
    }
    
    img#sunflower {
        max-width: 320px;
    }
    
    /* Body Content Styling */
    div#container {
        padding: 20px 60px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    div.container {
        margin: 20px 0;
    }

    section#summary-icons {
        margin: 0 auto;
        display: block;
    }

    div.icon-col {
        width: 200px;
        padding: 0 20px;
    }
    
    section#summary-icons p {
        margin: 0;
    }
    
    section#summary-icons i {
        font-size: 48px;
        margin-bottom: 20px;
    }

    div#tools-col {
        padding-left: 30px;
    }
    
    p.scd-row {
        padding-left: 0;
    }
    
    div.mleft-30 {
        margin-left: 30px;
    }
    
    div.card {
        width: 280px;
    }
    
    div.card-container h3 {
        font-size: 18px;
    }

    .card-container {
        padding: 0 7px;
    }

    div#cultures {
        margin-left: 0 !important;
    }
    
    img#img-professional {
        width: 200px;
    }

    div#about-text {
        padding-left: 60px;
    }
    
    a#resume-btn-full {
        margin: 20px 0 10px 0;
        padding: 15px 20px;
        width: 200px;
    }

    section#about p {
        line-height: 150%;
    }
    
    div#quote-container {
        width: 100%;
    }
    
    i#left-quote {
        font-size: 22px;
    }

    div.col-spacing {
        width: 200px !important;
    }
}

/* **********Mobile Styling ********** */

@media screen and (max-width: 600px) {

    /* Header Styles */

    header {
        position: relative;
        padding: 0;
    }

    div#heading-text {
        font-size: 20px !important;
        padding: 0;
        padding: 0 30px;
    }

    p#my-style {
        margin-bottom: 30px;
    }

    div#hero-image {
        padding: 30px 0 0 0;
        z-index: 90;
    }
    
    img#sunflower {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }

    .center {
        display: block;
        margin: auto;
        text-align: center;
    }

    a#work-btn {
        font-size: 16px;
        width: 170px;
        padding: 15px 5px;
    }

    a#resume-btn {
        font-size: 16px;
        width: 120px;
        padding: 12px 5px;
        border: 3px solid #FFFFFF;
        margin-left: 5px;
    }

    /* Body Styles */
    div#container {
        padding: 20px 30px;
    }

    h2 {
        font-size: 20px;
    }    

    section#summary-icons {
        margin: 20px 0;
        text-align: center;
    }
    
    section#summary-icons p {
        margin: 5px 30px 30px 30px;
        text-align: center;
        font-size: 18px;
    }
    
    section#summary-icons i {
        font-size: 48px;
        margin: 10px 0;
    }

    p.scd-row {
        display: block;
        padding: 20px 0 0 0 !important;
    }

    div.mleft-30 {
        margin-left: 0;
    }

    div.card {
        width: 100%;
    }
    
    img.card-image {
        width: 100%;
        height: auto;
    }
    
    div.card-container h3 {
        font-size: 18px;
    }

    blockquote#quote {
        margin: 0;
    }
  
    div#quote-container {
        padding: 0;
        width: 100%;
        height: auto;
        margin: 0;
        display: block;
    }

    i#left-quote {
        font-size: 20px;
    }

    section#about p {
        line-height: 150%;
    }

    div#quote-container p {
        padding-left: 35px;
        line-height: 200%;
    }

    div#quote-container {
        width: 100%;
        margin: 20px auto;
        display: block;
    }
    
    i#left-quote {
        font-size: 22px;
    }

    img#img-professional-mobile {
        width: 200px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    a#resume-btn-full-mobile {
        display: block;
        background-color: #004AAD;
        color: #FFFFFF;
        text-decoration: none;
        padding: 15px 30px;
        text-align: center;
        width: 230px;
        height: auto;
        margin: 20px auto;
    }
    
    a#resume-btn-full-mobile:hover {
        background-color: #07336d;
        transition: .3s ease;
    }

    section#contact i {
        font-size: 64px;
        text-align: center;
    }

    div#socials {
        text-align: center;
    }
}
